<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThemeButtonColor</key>
	<string>0x4a90e2</string>
	<key>ThemeButtonHightLightColor</key>
	<string>0x4a90e2</string>
</dict>
</plist>
